

html,
body{
  font-family: Lexend;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}
body{
  background-color: #E5E5E5;
}

*{
  box-sizing: border-box;
}

.grid{
  width: 1340px;
  max-width: 100%;
  margin: 0 auto;
}



.main{
  margin-top: 150px;
}

@media (max-width:1280px){
  .grid{
    width: 90%;
  }
}